<footer class="footer mt-auto py-3 color">
    <div class="container justify-content-center">
      <div class="row" id="credits">
        <p class="text-white">La Liga - by Andrés Rojas</p>
      </div>
      <div class="row" id="copyRight">
        <p class="text-white">Copyright &copy; 2021</p>
        <form [formGroup]="form" id="selectLanguage">
          <mat-form-field appearance="outline">
            <mat-label>{{'language.language' | translate}}</mat-label>
            <mat-select formControlName="language">
              <mat-option value="es">{{'language.spanish' | translate}}</mat-option>
              <mat-option value="en">{{'language.english' | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>
</footer>
